<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>New Location</title>
</head>
<body>
  <div class="container">
    <h1>Create a New Location!</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="errors">
          {% for message in messages %}
            <li class="error">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="/locations/create" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="farm">
      <label for="min_gold">Min Gold:</label>
      <input type="number" name="min_gold" placeholder="2">
      <label for="max_gold">Max Gold:</label>
      <input type="number" name="max_gold" placeholder="10">
      <input type="submit" value="Create Location">
    </form>
  </div>
</body>
</html>