{% extends './layout.html' %}
{% block body %}
  <h1>Tickets Index</h1>
  <h2>Hello, {{ user_info.first_name }}</h2>
  <h3>Tickets Assigned to You</h3>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Assignee</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in user_tickets %}
        <tr>
          <td><a href="{% url 'tickets:show' ticket.id %}">{{ ticket.title }}</a></td>
          <td>{{ ticket.description|truncatechars:15 }}</td>
          <td>{{ ticket.priority }}</td>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.assignee.first_name }} {{ ticket.assignee.last_name }} - {{ ticket.assignee.email }}</td>
          <td>
            <a href="{% url 'tickets:edit' ticket.id %}" class="button">Edit</a>
            <form action="{% url 'tickets:delete' ticket.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Tickets Assigned to Others</h3>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Assignee</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in other_tickets %}
        <tr>
          <td><a href="{% url 'tickets:show' ticket.id %}">{{ ticket.title }}</a></td>
          <td>{{ ticket.description|truncatechars:15 }}</td>
          <td>{{ ticket.priority }}</td>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.assignee.first_name }} {{ ticket.assignee.last_name }} - {{ ticket.assignee.email }}</td>
          <td>
            <a href="{% url 'tickets:edit' ticket.id %}" class="button">Edit</a>
            <form action="{% url 'tickets:delete' ticket.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}