<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container">
    <a href="{% url 'tickets:index' %}" class="button">Home</a>
    <a href="{% url 'tickets:new' %}" class="button">Create A Ticket</a>
    <a href="{% url 'users:logout' %}" class="button">Logout</a>
    {% block body %}{% endblock %}
  </div>
</body>
</html>